body {
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.status-pending {
    background-color: yellow;
}

.status-passed {
    color: white;
    background-color: green;
}

.status-failed {
    color: white;
    background-color: red;
}

#results {
    border: 1px solid black;
}